* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin-left: 10%;
    width: 80%;
    background-color: #eee;
    gap: 1rem;
}
header { 
    background-image: url("../Images/design1_image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    min-height: 30vh;
}
header>img {
    
    
    width: 80%;
    height: 300px;
}
header>h1 {
    position: absolute;
    font-size: 4rem;
    color: rgb(58, 60, 201);
    margin-left: 30px;
    
}
.logo {
    position: absolute;
    top: 30px;
    border: 5px solid rgb(38, 1, 247);
    background: #000;
    border-radius: 20px;
    width: 200px;
    margin: 50px;
}

.title {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 5px;
    padding: 10px;
}

nav {
    min-height: 1vh;
    display: flex;
    flex-wrap: wrap;
    background: #92878311;
    justify-content: center;
}

nav>a {
    margin: 30px 10px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 15px;
    background: #2741e9;
    color: #fff;
    box-shadow: 5px 5px 5px #222;
    font-weight: 700;
    
}

nav>a:hover {
    box-shadow: 1px 1px 10px #aaa;
}

.active {
    background: rgb(94, 192, 2);
}

main > div {
    display: inline-block;
}
main > div > article {
    padding: 10px;
    width: 800px;
}
/* rules */
.title-center{
    margin: 50px 0px;
    display: flex;
    justify-content: center
}
section {
    margin: 50px;
}

ol > li, 
ul > li{
    margin: 30px;
}
.circle {
    list-style-type: circle;
}

p {
    font-size: 1.2rem;
}
/* rules */

/* Info */
caption {
    text-align: left;
    margin: 20px 0px;
}
caption > p {
    font-style: oblique;
    text-decoration: underline;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
    
}


td, th {
    padding: 12px 15px;
    text-align: left;
}
.aling{
    text-align: center;
}

div > p {
    margin: 30px 0px;
}
.contact {
    display: block;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.map{
    width: 200px;
    height: 100px;
    border-radius: 1rem;
    border: 1px solid black;
    box-shadow: 5px 4px 20px black
    
}
.map:hover{
    box-shadow: 1px 1px 10px black
    
}
/* Info */
/*Registration*/
form{
    border: 2px solid white;
    background: #ddd;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 1rem 0px;
}
fieldset{
    display: flex;
    flex-wrap: wrap;
    margin: 0.3rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    
}
label{
    color: #444;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
input[name="fname"],
input[name="lname"],
input[name="Address"],
input[name="City"],
input[name="Code"],
input[name="Bdate"],
input[name="parent"],
input[name="date"]{
    width: 20vw;
    border-radius: 1rem;
    padding: 0.4rem;
    margin: 0.5rem 2rem;
}
input[name="grade"],
input[name="School"],
input[name="position"],
input[name="Uniform"],
input[name="Code"],
input[name="Bdate"],
input[name="parent"],
input[name="date"]{
    margin: 0.5rem 1rem;
}
.submit{
    width: 20vw;
    border-radius: 1rem;
    padding: 0.4rem;
    margin: 0.5rem 30%;
}
/*Registration*/